In [1]:
print("hey")

hey

In [2]:
print("Hello world")jk

Hello world

In [52]:
print("hi","hkdfl","erg")

hi hkdfl erg

In [53]:
input("enter any number")

enter any number5

'5'

In [60]:
a = "good morning"
b = input("enter your name")
print(a,b)

enter your name123456889
good morning 123456889

In [57]:
a = " omg are u? "
b = input(" enter your kind name ")
print(a,b)

 enter your kind name
 omg are u?

In [61]:
print( "' ' ")

' '

In [62]:
print("  '  ")

  '

In [77]:
print("/")

/

In [64]:
print('''sivhbs"ccv"zcc''')

sivhbs"ccv"zcc

In [65]:
print('siv"dvijivf"')

siv"dvijivf"

In [67]:
ght = input("enter your lucky number")
sum = int(ght)+10
print(sum)

enter your lucky number98
108

In [68]:
print('''""Printed""''')

""Printed""

In [72]:
print("hello", end=" ")
print("world")

hello world

In [ ]:
a = input("enter your first name : ")
b = input("enter your last name : ")
c = input("enter your college name : ")
d = input("enter your phone number : ")
print("your first name is : ", a,"\n",
      "your last name is : ", b,"\n",
      "your college name is : ",c,"\n",
      "your mobile nnumber is : ",d)

In [ ]:
int("97")

In [ ]:
int(input("enter"))

In [1]:
int("97")

97

In [2]:
float(890.90)

890.9

In [3]:
gy = ("hitesh","saksham","nitesh")
gy[1]

'saksham'

In [4]:
dir(gy)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
for i in gy:
    print(i)

hitesh
saksham
nitesh

In [6]:
gy.count("saksham")

1

In [7]:
jv = (1,23,56,12.03,12.03,56,25)
jv.count(12.03)

2

In [8]:
gy[2] = "jv"

TypeError: 'tuple' object does not support item assignment